set_io Tile_X1Y0_A Tile_X1Y0.A
set_io Tile_X1Y0_B Tile_X1Y0.B
set_io Tile_X1Y0_C Tile_X1Y0.C
set_io Tile_X1Y0_D Tile_X1Y0.D
set_io Tile_X2Y0_A Tile_X2Y0.A
set_io Tile_X2Y0_B Tile_X2Y0.B
set_io Tile_X2Y0_C Tile_X2Y0.C
set_io Tile_X2Y0_D Tile_X2Y0.D
set_io Tile_X3Y0_A Tile_X3Y0.A
set_io Tile_X3Y0_B Tile_X3Y0.B
set_io Tile_X3Y0_C Tile_X3Y0.C
set_io Tile_X3Y0_D Tile_X3Y0.D
set_io Tile_X4Y0_A Tile_X4Y0.A
set_io Tile_X4Y0_B Tile_X4Y0.B
set_io Tile_X4Y0_C Tile_X4Y0.C
set_io Tile_X4Y0_D Tile_X4Y0.D
set_io Tile_X1Y9_A Tile_X1Y9.A
set_io Tile_X1Y9_B Tile_X1Y9.B
set_io Tile_X1Y9_C Tile_X1Y9.C
set_io Tile_X1Y9_D Tile_X1Y9.D
set_io Tile_X2Y9_A Tile_X2Y9.A
set_io Tile_X2Y9_B Tile_X2Y9.B
set_io Tile_X2Y9_C Tile_X2Y9.C
set_io Tile_X2Y9_D Tile_X2Y9.D
set_io Tile_X3Y9_A Tile_X3Y9.A
set_io Tile_X3Y9_B Tile_X3Y9.B
set_io Tile_X3Y9_C Tile_X3Y9.C
set_io Tile_X3Y9_D Tile_X3Y9.D
set_io Tile_X4Y9_A Tile_X4Y9.A
set_io Tile_X4Y9_B Tile_X4Y9.B
set_io Tile_X4Y9_C Tile_X4Y9.C
set_io Tile_X4Y9_D Tile_X4Y9.D